<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cafe&Wifi API</title>
</head>
<body>
    <h1>Welcome to the Cafe & Wifi API</h1>

    <h2>GET - Search Cafe by Location</h2>
    <p>http://127.0.0.1:5000/search?loc={location}</p>
    <br>
    <h2>GET - Get Random Cafe</h2>
    <p>http://127.0.0.1:5000/random</p>
    <br>
    <h2>GET - Get All Cafes</h2>
    <p>http://127.0.0.1:5000/all</p>
    <br>
    <h2>POST - Add New Cafe</h2>
    <p>http://127.0.0.1:5000/add</p>
    <ul>
        <h4>Parameters required</h4>
        <li>name</li>
        <li>map_url</li>
        <li>img_url</li>
        <li>loc</li>
        <li>seats</li>
        <li>toilet</li>
        <li>wifi</li>
        <li>sockets</li>
        <li>calls</li>
        <li>price</li>
    </ul>
    <br>
    <h2>PATCH - Update Cafe Price</h2>
    <p>http://127.0.0.1:5000/update-price/{id}</p>
    <ul>
    <h4>Parameter required</h4>
    <li>price</li>
</ul>
<br>
<h2>DELETE - Delete Cafe</h2>
<p>http://127.0.0.1:5000/report-closed/{id}</p>
<ul>
    <h4>Parameter required</h4>
    <li>api-key</li>
</ul>


  
</body>
</html>